.navbar{
    height: 10%;
    background-color: #bde1ff;
    border: 2px solid #90caf9;
    justify-content: space-between;
    font-family: 'Bebas Neue', cursive;
}
.navbar a{
    font-weight: 700;
    text-transform: uppercase;
    color:white;
}
.navbar a:hover{
    background-color: white;
    border-radius: 10px;
    color: #bbdefb;
}
.aInicio{
    display:inline;
    font-size: 15px;
}
.Registro{
    text-align: 10px;
    font-size: 20px;
}
.Inicio{
    
    font-size: 20px;
}


